.chat__avatar {
    height: 35px !important;
    width: ;
}
.chat {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid whitesmoke;
}
